.div-1, .div-2 {
    background-color: red;
    /*display: block; POR DEFECTO - div tienen display block */
}

.span-1 {
    background-color: aquamarine;
    /* height: 500px; */
    /* display: inline; POR DEFECTO - span tienen display inline */
    float: right;
}

.span-2 {
    background-color: aquamarine;
    /* height: 500px; */
    /* display: inline; POR DEFECTO - span tienen display inline */
    float: left;
}

.img {
    width: 50px;
    height: 50px;
    display: inline-block;
}