@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons {
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

.google-btn {
    background-color: #1A73EB;
    border: none;
    border-radius: 3px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    align-self: flex-start;
}

.google-btn:hover {
    opacity: 0.75;
}

.google-btn picture {
    width: 35px;
    background-color: white;
    height: 35px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img {
    width: 75%;
}

.google-btn span {
    color: white;
    padding: 15px;
    font-weight: 500;
}

.twitter-btn {
    color: #bbb;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitter-btn:hover {
    background-color: #ddd;
}