.contenedor {
    display: grid;
    gap: 0.5rem;
    /* row-gap: 1rem;
    column-gap: 0.1rem; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(4, auto); */
    /* grid-template-columns: 20px 3rem 25vw; */
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 200px 5rem 100px;
    grid-template-areas: 'head head head' 'main main aside' 'footer footer footer';
}

.item {
    background-color: aquamarine;
    padding: 0.25rem;
    font-size: 2rem;
    border: solid 1px blue;
}

.item1 {
    grid-column: 2 / span 2;
    /* grid-column: 2 / 3; */
    /* grid-area: head; */
}

.item9 {
    grid-area: 2 / 1 / 4 / 3;
    /* grid-area: finainicio / colainicio / filafin / columnafin; */
    /* grid-area: footer; */
}