@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-base {
    padding: 0.3rem 1.5rem;
    border-radius: 0.25rem;
}

$color-main: #0075FF;
$color-footer: #f4f8fe;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;

    &:hover {
        background-color: white;
        color: $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {
    margin-bottom: 0;

    li {
        font-size: 0.75rem;
        list-style: none;
        display: inline;
        margin-right: 2rem;

        a {
            color: black;
            text-decoration: none;
            &:hover {
                font-weight: 600;
            }
        }
    }
}

.icon-sm {
    
    i {
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000055;
        color: $color-main;
    }
}

.benefit {
    display: flex;
    flex-direction: column;

    i {
        color: $color-main;
        font-size: 5rem;
        text-align: center;
    }

    .description {
        .title {
            font-size: 1.5rem;
            text-align: center;
        }

        .text {
            color: #888;
            font-weight: 600;
            text-align: center;
        }
    }

    .cta {
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    i {
        padding: 0;
        color: $color-main;
        font-size: 5rem;
    }

    .title {
        margin-top: 0.2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}